<script type="text/x-handlebars" data-template-name="about">
    <div class="jumbotron">
        <div class="container">
            <h1>Dice World</h1>
            <p>We are a small Montreal based company who's mission is to bring you the best of gaming at an affordable price. If an item you want is missing from our store, please contact us and we'll do everything we can to make it available.</p>
            <p>- Gab and Nic</p>
        </div>
    </div>
    <div class="container">
        <h1>Support</h1>
        <ul>
            <li>Email: support@@diceworld.ca</li>
            <li>Phone: 514-999-9999</li>
            <li><a>Facebook</a></li>
            <li><a>Twitter</a></li>
        </ul>
        <h1>Shipping</h1>
        <ul>
            <li>Quebec and Ontario: flat rate of 9.99$ CAD.</li>
            <li>Other provinces: flat rate of 11.99$ CAD.</li>
            <li>Canadian Territories: flat rate of 14.99$ CAD.</li>
            <li>Orders over 140$ CAD have FREE shipping (Territories excluded).</li>
            <li>Our carrier is Canada Post.</li>
        </ul>
        <p>All of the data collected here comes from <a href="http://boardgamegeek.com" target="_blank">BoardGameGeek</a>'s API.</p>
</div>
</script>
