<script type="text/x-handlebars" data-template-name="boardGame">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h1><a {{bind-attr href="url"}} target="_blank">{{name}}</a> <small>{{yearPublished}}</small></h1>
            </div>
            <div class="row spacer">
                <div class="row">
                    <div class="col-lg-3">
                        <img {{bind-attr src='imageUrl' class=':img-thumbnail'}} />
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge">{{boardGameStat.rank}}</span>
                                        Rank
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">{{boardGameStat.bayesianRating}}</span>
                                        Rating
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">{{boardGameStat.averageWeight}}</span>
                                        Weight
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">{{minPlayers}} - {{maxPlayers}}</span>
                                        Player Count
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">{{playingTime}}</span>
                                        Playing Time
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-8">
                                <div class="well text-center">
                                    {{#each tag in tagDefinitions}}
                                    <span class="label label-default">{{tag.name}}</span>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <pre class="no-word-break">{{unescapedDescription}}</pre>
            </div>
        </div>
    </div>
</script>