<script type="text/x-handlebars" data-template-name="boardGame">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="page-header">
                    <h1><a {{bind-attr href="bggUrl"}} target="_blank">{{name}}</a> <small>{{yearPublished}}</small></h1>
                </div>
                <div class="row spacer">
                    <div class="col-lg-4">
                        <img {{bind-attr src='imageUrl' class=':img-thumbnail'}} />
                    </div>
                    <div class="col-lg-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="pull-right">{{boardGameStat.rank}}</span>
                                Rank
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">{{boardGameStat.bayesianRating}}</span>
                                Rating
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">{{boardGameStat.averageWeight}}</span>
                                Weight
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">{{minPlayers}} - {{maxPlayers}}</span>
                                Player #
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">{{playingTime}}</span>
                                Time (min.)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2>{{price}}$</h2>
                        <p>MSRP: <s>{{price}}</s></p>
                        <p>In Stock.</p>
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
                    </div>
                </div>
                <div class="well spacer">
                    {{#each tag in tagDefinitions}}
                    <span class="label label-default">{{tag.name}}</span>
                    {{/each}}
                </div>
                <pre class="no-word-break spacer">{{unescapedDescription}}</pre>
            </div>
        </div>
    </div>
</script>