<script type="text/x-handlebars" data-template-name="catalogue">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <form>
                    <div class="form-group">
                        <label for="inputKeyword">Keyword</label>
                        {{auto-complete type="text" class="typeahead form-control" placeholder="Enter Keyword" value=inputKeyword id="inputKeyword" resource-name="boardGames"}}
                    </div>
                    <div class="form-group">
                        <label>Year Published</label>
                        <div>
                            <label for="inputPublishedFrom" class="sr-only">Published From</label>
                            {{input type="text" class="form-control reset-width inline-input" value=inputPublishedFrom id="inputPublishedFrom" placeholder="From" size="4"}}
                            <label for="inputPublishedTo" class="sr-only">Published To</label>
                            {{input type="text" class="form-control reset-width inline-input" value=inputPublishedTo id="inputPublishedTo" placeholder="To" size="4"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Player Count</label>
                        <div>
                            <label for="inputMinPlayerCount" class="sr-only">Min Player Count</label>
                            {{input type="text" class="form-control reset-width inline-input" value=inputPlayerCountMin id="inputMinPlayerCount" placeholder="Min" size="4"}}
                            <label for="inputMaxPlayerCount" class="sr-only">Max Player Count</label>
                            {{input type="text" class="form-control reset-width inline-input" value=inputPlayerCountMax id="inputMaxPlayerCount" placeholder="Max" size="4"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Playing Time (Minutes)</label>
                        <div>
                            <label for="inputPlayingTimeMin" class="sr-only">Published From</label>
                            {{input type="text" class="form-control reset-width inline-input" value=inputPublishedFrom id="inputPlayingTimeMin" placeholder="Min" size="4"}}
                            <label for="inputPlayingTimeMax" class="sr-only">Published To</label>
                            {{input type="text" class="form-control reset-width inline-input" value=inputPublishedTo id="inputPlayingTimeMax" placeholder="Max" size="4"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        {{auto-complete type="text" class="typeahead form-control reset-width inline-input" placeholder="Enter Tag" value=inputTag id="tags" resource-name="tagDefinitions" selected="addTag" autocompleted="addTag" size="10"}}
                        <button class="btn btn-default inline-input">View All</button>
                    </div>
                    <ul class="list-group">
                        {{#each inputTag in inputTags}}
                        <li class="list-group-item">
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{inputTag.name}}
                        </li>
                        {{/each}}
                    </ul>
                    <button {{action 'search'}} class="btn btn-default">Search</button>
                </form>
            </div>
            <div class="col-sm-9">
                <!-- Pagination -->
                <div class="input-group col-centered">
                    <span class="input-group-btn reset-width">
                        <button type="button" class="btn btn-default" {{action 'fastBackward'}}><span class="glyphicon glyphicon-fast-backward"></span></button>
                        <button type="button" class="btn btn-default" {{action 'previous'}}><span class="glyphicon glyphicon-step-backward"></span></button>
                    </span>
                    {{input type="text" value=inputPage action="updatePage" on="insert-newline" class="form-control text-center reset-width" size="1" maxlength="3" id="inputPage"}}
                    <span class="input-group-addon reset-width hidden-xs">of {{totalPages}}</span>
                    <span class="input-group-btn reset-width">
                        <button type="button" class="btn btn-default" {{action 'next'}}><span class="glyphicon glyphicon-step-forward"></span></button>
                        <button type="button" class="btn btn-default" {{action 'fastForward'}}><span class="glyphicon glyphicon-fast-forward"></span></button>
                    </span>
                </div>

                <div class="row spacer">
                    {{#each boardGame in controller}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <img {{bind-attr src=boardGame.imageUrl}} alt="...">
                            <div class="caption">
                                <h4>{{boardGame.name}}</h4>
                                <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default pull-right" role="button">34.95$ <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <!-- Pagination -->
                <div class="input-group col-centered">
                    <span class="input-group-btn reset-width">
                        <button type="button" class="btn btn-default" {{action 'fastBackward'}}><span class="glyphicon glyphicon-fast-backward"></span></button>
                        <button type="button" class="btn btn-default" {{action 'previous'}}><span class="glyphicon glyphicon-step-backward"></span></button>
                    </span>
                    {{input type="text" value=inputPage action="updatePage" on="insert-newline" class="form-control text-center reset-width" size="1" maxlength="3"}}
                    <span class="input-group-addon reset-width hidden-xs">of {{totalPages}}</span>
                    <span class="input-group-btn reset-width">
                        <button type="button" class="btn btn-default" {{action 'next'}}><span class="glyphicon glyphicon-step-forward"></span></button>
                        <button type="button" class="btn btn-default" {{action 'fastForward'}}><span class="glyphicon glyphicon-fast-forward"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</script>